{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt aliquam rem ducimus perspiciatis corporis totam maiores, pariatur itaque tempora non at vitae minus cumque obcaecati voluptas perferendis quo placeat.</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/img_muestra.jpg" alt="">
    </div>
</div>
{{> footer }}